html, body {
  overflow: hidden;
}

.drag-container {
  position: relative;
  display: flex;
}

.drag-item {
  position: absolute;
  user-select: none;
}

.section-container {
  width: calc(100vw/5);
  height: 150px;
  border: 2px solid transparent;
  margin: 5px;
}

.section {
  text-align: center;
  width: inherit;
  height: inherit;
  border: 2px solid #abc;
  border-radius: 3px;
  background: repeating-linear-gradient(45deg, #ccc, #ccc 5px, #ddd 5px, #ddd 10px);
}

.label {
  cursor: move;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  background-color: #acb;
}

.items {
  max-height: 120px;
  overflow-y: auto;
}

.item {
  transition: all 0.2s linear;
  line-height: 20px;
  height: 20px;
  padding: 2px;
  cursor: pointer;
}

.item:nth-child(odd) { background-color: #fdfdfd; }
.item:nth-child(even) { background-color: #fafafa; }
.item:hover { background-color: #eee; }

.item a {
  color: black;
  display: block;
  text-decoration: none;
}

#container {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
