body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

body.popup {
    align-items: flex-start;
}

form {
    margin-bottom: 15px;
    padding: 5px;
}

form header {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

form div {
    display: grid;
    grid-template-columns: 15% 80%;
    grid-gap: 5px;
    margin: 2px 0;
}

form div input {
    border-width: 2px;
    padding: 0;
    width: 100%;
}

form div label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

form label:after {
    content: ': ';
}

form span {
    color: #e44;
    font-weight: bold;
}


/* ids */

#overlay,
#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ctxmenu {
    position: absolute;
    min-width: 200px;
    background: white;
    border: 1px solid black;
    text-align: center;
    z-index: 2;
    /* for click events */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s, box-shadow 0.1s;
}

#ctxmenu div {
    pointer-events: all;
}

#add-section {
    order: 1000;
}

#add-section::before {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 150px;
    font-size: 75px;
    content: "➕";
}

#container {
    flex-wrap: wrap;
    margin: 20px 0;
    width: 750px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(128, 128, 128, 0.5);
    width: 100vw;
    height: 100vh;
    /* for click events */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}

#popup {
    position: relative;
    background: white;
    min-width: 300px;
}

#popup-close,
#popup-submit {
    position: absolute;
    bottom: 0;
}

#popup-close {
    left: 0;
}

#popup-submit {
    right: 0;
}

#popup-close:before,
#popup-submit:before {
    cursor: pointer;
}

#popup-close:before {
    content: "❌";
}

#popup-submit:before {
    content: "✔️";
}


/* classes */

.drag-container {
    display: flex;
    position: relative;
}

.drag-item {
    position: absolute;
    user-select: none;
}

.section-container {
    margin: 5px;
    border: 2px solid transparent;
    width: 20%;
    height: 150px;
}

.section {
    transition: box-shadow 0.1s;
    border: 2px solid #abc;
    border-radius: 3px;
    background: repeating-linear-gradient(45deg, #ccc, #ccc 5px, #ddd 5px, #ddd 10px);
    width: 100%;
    height: inherit;
}

.label {
    position: relative;
    background-color: #acb;
    cursor: move;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.editabletxt {
    cursor: text;
}

.editabletxt::before {
    content: "✎ ";
}

.delete::before {
    right: 0;
    content: "❌";
}

.add::before {
    left: 0;
    content: "➕";
}

.delete::before,
.add::before {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    width: 30px;
    font-size: 1.2em;
}

.item:hover .delete::before,
.label:hover .delete::before,
.label:hover .add::before {
    visibility: visible;
}

.items {
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item {
    transition: all 0.2s linear;
    cursor: pointer;
    padding: 2px;
    height: 20px;
    line-height: 20px;
}

.item:nth-child(odd) {
    background-color: #fdfdfd;
}

.item:nth-child(even) {
    background-color: #fafafa;
}

.item:hover {
    background-color: #eee;
}

.item img {
    position: absolute;
    left: 0;
    height: inherit;
}

.item a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}